body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* .space-fighter{} */
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /* background-color: red; */
  transition: all 0.2s ease;
  transform: rotate(90deg);
}
